asgiref
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
contourpy
cvzone
cycler
Django
et-xmlfile
Flask
fonttools
gunicorn
idna
imageio
itsdangerous
Jinja2
joblib
kiwisolver
lazy_loader
mahotas
MarkupSafe
matplotlib
MouseInfo
networkx
numpy
opencv-python
openpyxl
packaging
pandas
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
pytweening
pytz
PyWavelets
requests
scikit-image
scikit-learn
scipy
six
soupsieve
sqlparse
threadpoolctl
tifffile
tzdata
urllib3
Werkzeug
